<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
   <parameter name="username" value="Gokul2109"/>
  <parameter name="password" value="gokul@2109"/>
  <parameter name="datepick_in" value="14/09/2021"/>
  <parameter name="datepick_out" value="15/09/2021"/>
  <parameter name="first_name" value="kalai"/>
  <parameter name="last_name" value="krish"/>
  <parameter name="address" value="chennai"/>
  <parameter name="cc_num" value="1234567890123456"/>
  <parameter name="cc_cvv" value="1234"/>
    <classes>
      <class name="org.flight.Testngadatin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
